<!DOCTYPE html>
<!--
  Clyde 'Thluffy' Sinclair
  SoftDev
  Oct 2022

     simple demo of HTML forms via Flask

     trioTASK:
     If any member of team has forms experience, let their know-how OSMOTE.
     If no one does, seek external assistance.

     PROTIP: Revisit code from intro if you have it.
     Peruse this code together and discuss how it should work,
       in conjunction with the back end apparatus.
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form method="POST">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>

    <h2>
      Rendered using {{request_method}} method
    </h2>
    <br>

    <h3>Discoveries of GET and POST</h3>
    <ul>
      <li>a route can only respond to GET or POST requests respectively if they're allowed methods in the @app.route</li>
      <li>GET forms use query strings and request.args to parse user input</li>
      <li>POST forms use the response in request.form to parse user input</li>
      <li>GET forms direct to a different URL while POST forms can stay on the same URL (or change) (because of querystrings being appended)</li>
      <li> method="POST" must be included in the form tag in the HTML to produce a POST request. If left empty, it is a GET request by default.</li>
      <li>in a GET request, request.form is ImmutableMultiDict([]) and in a POST request, request.args is ImmutableMultiDict([])</li>
      <li>when reloading the POST request page on Brave, I get the popup "The page that you're looking for used information that you entered. Returning to that page might cause any action you took to be repeated. Do you want to continue?" On safari, it is "To reopen this page Safari must resend a form. This might result in duplicate purchases, comments, or other actions."</li>
      <li>this behavior isn't the case when using GET for the response ^</li>
    </ul>
  </body>

</html>
