<!DOCTYPE html>
<!--
  Foo Bar:: Ameer Alnasser, Wan Ying Li, Kevin Wang
  SoftDev
  Oct 2022
  time spent:1.3 hrs
  simple demo of CSS via NOT flask
 -->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<div class="header">
    <h1>
        h1 foo
    </h1>
</div>

<div class="middle">
    <nav>
        <h3>
            nav foo
        </h3>
    </nav>
    <main>
        <h2>
            main foo heading
        </h2>
    </main>
    <h4>
        dis
        <br>
        dat
        <br>
        de udda ting
    </h4>
    <p>
        Stuy CS dolor sit amet merge qaf post update duckie upgrade DW design uv-radiation-emitting devices upgrade Repo
        of Holding. Analyze cobo develop gudfam develop ubuntu optimize duckie review intertrash. Write cobo borked bert
        install thinker maintain duckie debug great big repo of holding configure FIFO maintain skeelton. Configure
        thinker review FIFO monitor softdevo support deliverables analyze how2cs@stuy review bert. Program thinking
        straight design moe. Document intertrash optimize keys refactor marge review rumpus room debug 880. Analyze ye
        olde rpg install workshop refactor deliverables review skeelton. Update qaf post deploy gudfam.
        <br>
        <br>
        Review big oh merge geethub optimize workshop refactor tidbit review keys to success support edihhh fix tidbit.
        Install onward+upward install lisa program introcs. Maintain keys borked gudfam integrate softdevo. Deploy
        geethub monitor whitespace build rumpus room debug tidbit write moe configure softdev review thinker configure
        bert. Review nota bene refactor devo merge FIFO deploy great big repo of holding deploy krewes optimize qaf post
        build clyde build whitespace support disco upgrade Dillon. Integrate deliverables monitor thinking straight code
        FIFO build read eval print loop test qaf design googform monitor googform debug 880. Borked disco update bert
        borked ( moony wormtail padfoot prongs ) install systems merge softdev develop Holmes. Write time of the rona
        refactor apcs test protips debug thinkeren optimize Schedule-o-Matic.
    </p>
</div>

<footer class="feet">
    Copyright ©2015 Clyde "Thluffy" Sinclair
</footer>

</html>